10-x11-keymap.fdi
11-x11-mouse-quirks.fdi
61-x11-input.rules
mandriva-setup-keyboard-hal
mandriva-setup-keyboard-udev
x11-server.rpmlintrc
xorg-server-1.13.0.tar.bz2
xserver.pamd
xserver-sdk-abi-requires
xvfb-run.sh
